.banner {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  // height: calc(100vh - 50px);
  // change for transiton navbar handle by js
  height: 100vh;
  // to cover whole navbar
  margin-top: -60px;
  // padding-top: 40px;

  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-bottom: 32px; white space on mobile :P
  flex-direction: column;

}

.banner h1 {
  margin-top: 0;
  letter-spacing: 10px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
