/* Card design */
.cards {
  margin: 40px 0;
}
.card-title {
  // opacity: 0.8;
  color: black;
  padding-bottom: 20px;
}
.card {
  filter: grayscale(100%) contrast(1.2);
  // -webkit-filter: grayscale(100%);
  background-size: cover !important;
  background-position: center;
  height: 250px;
  border-radius: 4px;
  color: white;
  position: relative;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
  /*on mobile -> needs space above each*/
  margin-bottom: 50px;
  transition: .4s; /* smoothly move back when hover from the card 500ms*/
  box-shadow: 2px 3px 5px rgb(68, 49, 49);
}

.card:hover {
  filter: grayscale(0);
  // -webkit-filter: grayscale(0);
  // opacity: 1.0;
  transform: scale(1.03, 1.03);
  transition: .4s; /* smoothly moved when hover on the card */
}

/*inner information*/
.card-category {
  position: absolute;
  top: 12px;
  left: 15px;
  font-size: 20px;
}

.card-description {
  position: absolute;
  top: 80px;
  right: 25px;
  opacity: 0.8;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-description h2 {
  font-size: 22px;
}

.card-description p {
  opacity: 0.9;
  font-size: 15px;
  letter-spacing: 1.2px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

// infoWindow
.infowindow-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
}
.infowindow-title {
  letter-spacing: 3px;
  padding-bottom: 5px;
}
.infowindow-img {
  // padding: 5px;
  width: 180px;
  height: 150px;
  background-size: cover !important;
}


.infowindow-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
// .infowindow-link {
//   padding: 7px 0;
//   width: 100%;
//   text-align: center;
//   background: black;
//   opacity: 0.9;
//   letter-spacing: 2px;
//   color: white;
//   box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
// }
// a.infowindow-link:hover {
//   text-decoration: none;
//   color: white;
//   letter-spacing: 2.3px;
// }
